<main>
    <h1>This Page Will Show Our Animal Database</h1>
    <h3>Animal List</h3>
    <div class="container">
	<div class="row">
        {{#each animals}}
            <div class="row" style="margin: 0 auto; width: 60%;">
                <table class="table table-striped table-hover">
                    <tr>
                        <td>Zoo</td>
                        <td>{{this.zoo}}</td>
                    </tr>
                    <tr>
                        <td>Scientific Name</td>
                        <td>{{this.scientific_name}}</td>
                    </tr>
                    <tr>
                        <td>Common Name</td>
                        <td>{{this.common_name}}</td>
                    </tr>
                    <tr>
                        <td>Given Name</td>
                        <td>{{this.given_name}}</td>
                    </tr>
                    <tr>
                        <td>Gender</td>
                        <td>{{this.gender}}</td>
                    </tr>
                    <tr>
                        <td>Date Of Birth</td>
                        <td>{{this.date_of_birth}}</td>
                    </tr>
                    <tr>
                        <td >Age</td>
                        <td>{{this.age}}</td>
                    </tr>
                    <tr>
                        <td>Is Transportable?</td>
                        <td>{{#if this.is_transportable}}Available{{else}}Unavailable{{/if}}</td>
                    </tr>
                </table>
                <a href="/animals/{{this._id}}/edit-animal" class="btn btn-primary">Edit Animal</a>
            </div>
            <hr>
        {{/each}}
    </div>
    </div>
</main>