<main>
    <h1>Edit An Animal Within Our System By Updating The Form Below</h1>
    <h3>Edit {{animal.given_name}}</h3>
    <div class="container">
	<form action="/animals/{{animal._id}}/update" method="post">
        <div class="mb-3 col-5">
            <label for="homeZooInput" class="form-label">Home Zoo</label>
            <input type="text" class="form-control" id="homeZooInput" name="homeZooInput" value="{{animal.zoo}}">
            <div id="homeZooHelp" class="form-text">Enter The Home Zoo Location Of The Animal You Wish To Add To Our System.</div>
        </div>
        <div class="mb-3 col-5">
            <label for="scientificNameInput" class="form-label">Scientific Name</label>
            <input type="text" class="form-control" id="scientificNameInput" name="scientificNameInput" value="{{animal.scientific_name}}">
            <div id="ScientificNameHelp" class="form-text">Enter The Scientific Name Of The Animal Here.</div>
        </div>
        <div class="mb-3 col-5">
            <label for="commonNameInput" class="form-label">Common Name</label>
            <input type="text" class="form-control" id="commonNameInput" name="commonNameInput" value="{{animal.common_name}}">
            <div id="commonNameHelp" class="form-text">Enter The Common Name Of The Animal Here.</div>
        </div>
        <div class="mb-3 col-5">
            <label for="givenNameInput" class="form-label">Given Name</label>
            <input type="text" class="form-control" id="givenNameInput" name="givenNameInput" value="{{animal.given_name}}">
            <div id="givenNameHelp" class="form-text">Enter The Given Name Of The Animal Here.</div>
        </div>
        <div id="genderSection" class="form-text">Select The Gender Of The Animal Below.</div>
        <div class="form-check">
            <label class="form-check-label" for="maleRadioButton">Male</label>
            <input class="form-check-input" type="radio" name="genderRadioButton" id="maleRadioButton" value="Male" {{{radioHelper animal.gender 'Male'}}}>
        </div>
        <div class="form-check">
            <label class="form-check-label" for="femaleRadioButton">Female</label>
            <input class="form-check-input" type="radio" name="genderRadioButton" id="femaleRadioButton" value="Female" {{{radioHelper animal.gender 'Female'}}} >
        </div>
        <div class="mb-3 col-5">
            <label for="dateOfBirthInput" class="form-label">Date Of Birth</label>
            <input type="date" class="form-control" id="dateOfBirthInput" name="dateOfBirthInput" value="{{animal.date_of_birth}}">
            <div id="dobInputHelp" class="form-text">Select The Animals Date Of Birth Using The Calender Below.</div>
        </div>
        <div class="mb-3 col-5">
            <label for="ageInput" class="form-label">Age</label>
            <input type="text" class="form-control" id="ageInput" name="ageInput" value="{{animal.age}}">
            <div id="ageHelp" class="form-text">Enter The Age Of The Animal Here.</div>
        </div>
        <div id="availabilitySection" class="form-text">Select Whether Or Not The Animal Can Be Transported.</div>
        <div class="form-check">
            <label class="form-check-label" for="availableRadioButton">Available</label>
            <input class="form-check-input" type="radio" name="transportableRadioButton" id="availableRadioButton" value="true" {{#if animal.is_transportable}}checked{{/if}}>
        </div>
        <div class="form-check">
            <label class="form-check-label" for="unavailableRadioButton">Unavailable</label>
            <input class="form-check-input" type="radio" name="transportableRadioButton" id="unavailableRadioButton" value="false" {{#if animal.is_transportable}}{{else}}checked{{/if}}>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Update Animal</button>
        </div>
    </form>
    <form action="/animals/{{animal._id}}/delete" method="post">
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Delete Animal</button>
        </div>
    </form>
    </div>
</main>